*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
/************ Scroll Bar ***************/
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(#2da1ee, #7e32dc,hsl(194, 100%, 60%));

  }
  ::-webkit-scrollbar-thumb {
    background: rgba(245, 252, 255, 1); 
    border-radius: 0 10px 10px 0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(213, 219, 221); 
  }
/************ Common ***************/
.color-1{
    color: #7E32DC;
}
.color-1-border{
    border: 2px solid #7E32DC;
}
.color-1-background{
    background-color: #7E32DC;
}
.color-2{
    color: #BC44DD;
}
.color-2-border{
    border: 2px solid #BC44DD;
}
.color-3{
    color: #555555;
}
.btn{
    background-image: linear-gradient(135deg,#2da1ee,#7e32dc);
    box-shadow: inset 1px -1px 4px 1px rgb(125, 218, 255);
}
.imgwidth{
    width: 600px;
}
.bcklr{
    background-color: aliceblue;
}
.s5bg{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(243, 251, 255));
}

.s5sp{
    padding: 5px 10px;
    border-radius: 50px;
    transition: .3s;
    filter: grayscale(100%);
}
.s5sp:hover{
    background-color: white;
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: 0 0 35px 2px #d4d4d4;
    filter: grayscale(0);
}

/* ---------------------HEADER-------------------- */
.header{
    background-image: url(../images/f.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1700px;
    position: relative;
}
nav{
    background-color: rgba(245, 252, 255, 0.9);
    height: 80px;
    width:100%;
    position: fixed;
    box-shadow: 0px -2px 6px 0px black;
    z-index: 100;
}
.logoW{
    font-weight: 700;
    color: var(--color-1);
}
label.logo{
    font-size: 50px;
    color: #7E32DC;
    padding: 0 50px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: rgb(95, 95, 95);
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 10px;
    font-weight: 700;
}
nav a.active,nav a:hover{
    color: var(--color-1);
    transition: 0.2s;
    border-bottom: 1px solid #BC44DD;
}
nav #icon{
    color: #BC44DD;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.getStarted:hover{
    background-color: #BC44DD;
    color: white;
}
.learnMore:hover{
    background-color: #7E32DC;
    color: white;    
}
.h-gradient{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
    position: absolute;
    bottom: 0;
    
}
/* ---------------------SEC-1-------------------- */
.sec-1{
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(243, 251, 255));
}
.s1-grad{
    background-image: linear-gradient(135deg,#2da1ee,#7e32dc);
}
.s1-shadow{
    box-shadow: 0px 0px 10px 1px #adadad;
}
.r-color{
    position: absolute;
    bottom: 215px;
    right: 0;
}
.sec-up{
    transition: .5s;
}
.sec-up:hover{
    transform: scale(1.1);
}
/* ---------------------SEC-2-------------------- */
.sec-2{
    background-image: linear-gradient(rgb(244, 251, 255),rgba(255, 255, 255, 0));
}
/* ---------------------SEC-3-------------------- */






@media (max-width: 1048px){
    label.logo{
        font-size: 38px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
    .r-color{
        display: none;
    }
    .img-width{
        width: 3500px;
    }
}
@media (max-width:955px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(250, 238, 255);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active, a:hover{
        border:none;
        color: var(--color-1);
    }
    nav ul.show{
        left: 0;
    }
    .spe{
        margin-top: 160px;
    }
    .t5h{
        padding-top: 180px;
    }
}

@media (max-width:639px){
    .hhdr{
        margin-top: 100px;
    }
    .header-main-content{
        background-color: white;
        height: 1300px;
        width: 160%;
    }
    .sec-1{
        margin-top: 0;
        padding-top: 0;
    }
    .spe{
        margin-top: 160px;
    }
    .sec-2{
        width: 160%;
        padding-top: 1100px;
    }
    .sec-3{
        width: 160%;
    }
    .s3con{
        flex-direction: column;
    }
    .s3cl{
        padding: 0;
    }
    .sec-4{
        width: 160%;
    }
    .sec-5{
        width: 160%;
    }
    .t5h{
        padding-top: 180px;
    }
}